NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/clipforge-ai

TELEGRAM_BOT_TOKEN=
TAVILY_API_KEY=
LLM_API_KEY=
LLM_API_URL=
LLM_MODEL=
FLUX_API_KEY=
ELEVENLABS_API_KEY=
CREATOMATE_API_KEY=

YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=

DASHBOARD_URL=http://localhost:5173
